{# widok kategorii #}
<div class="blogCategoryItems">
    {# Tytuł strony #}
    {% if k2.params.get('show_page_title') %}
        <div class="page-header">
            <h2>{% spaceless %}{{ k2.params.get('show_page_title')|escape }}{% endspaceless %}</h2>
        </div>
    {% endif %}
    {# Główne wpisy #}
    {% if k2.leading is defined and k2.leading|length %}
        <div class="row leading">
            {% set leadingSpanClass = (12/k2.params.get('num_leading_columns'))|round(1, 'floor') %}
            {% for item in k2.leading %}
                <div class="col-sm-{{ leadingSpanClass }}">
                    {% include '@component/com_k2/templates/twig/views/' ~ template ~ '/category_item.html.twig'
                        with { 'item': item, 'params': k2.params, 'utilities': utilities } only %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {# Podstawowe wpisy #}
    {% if k2.primary is defined and k2.primary|length %}
        {% for item in k2.primary %}
            {% include '@component/com_k2/templates/twig/views/' ~ template ~ '/category_item.html.twig'
                with { 'item': item, 'params': k2.params, 'utilities': utilities } only %}
        {% endfor %}
    {% endif %}
    {# Paginacja #}
    {% if k2.pagination.getPagesLinks()|length %}
        <div class="pagination-container">
            {% if k2.params.get('catPagination') %}
                {{ k2.pagination.getPagesLinks() }}
            {% endif %}
            {% if k2.params.get('catPaginationResults') %}
                {{ k2.pagination.getPagesCounter() }}
            {% endif %}
        </div>
    {% endif %}
</div>
